
.number-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 350px;

}

.number-item {
    display: flex;
    border-bottom: 2px solid #979797;
    border-right: 2px solid #979797;
    width: 100px;
    height: 100px;
    font-size: 2.5rem;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}

.action-number-buttons {
    display: flex;
    flex-direction: column;
}

.clear-button {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    border-bottom: 2px solid #979797;
    border-right: 2px solid #979797;
    height: 100px;
    font-size: 2.5rem;
    font-weight: lighter;
}

.zero-button {
    display: flex;
    justify-content: center;
    border-right: 2px solid #979797;
    align-items: center;
    max-width: 300px;
    height: 100px;
    font-size: 2.5rem;
    font-weight: bold;
}

.all-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.all-buttons:hover {
    cursor: pointer;
}

.operator-item {
    display: flex;
    border-bottom: 2px solid #979797;
    width: 100px;
    height: 100px;
    font-size: 4rem;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    background: #A0001E;
    color: white;

}

.operator-item:last-child {
    border: none;
}

.operator-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
